.aircrafts-selector {
    background-color: lightgray;
    padding-left: 2rem;
    .aircraft {
        border: 1px solid black;
        width: 200px;
        padding: 1rem;
        margin: 0 auto;
        text-align: left;
    }

}